<div class="row">
  <div class="column">
    <h3>Task list</h3>
    <table class="uncompleted-tasks">
      <tbody>
        <% if @uncompleted_tasks.any? %>
          <% @uncompleted_tasks.each do |task| %>
            <tr>
              <td class="task-item">
                <span class="left">
                  <%= task.description %>
                </span>
                <span class="right">
                  <%= button_to 'Complete', complete_task_path(task), method: :post, :class => 'btn btn-primary complete' %>
                </span>
              </td>
            </tr>
          <% end %>
        <% end %>

        <tr><td><%= render 'form' %></td></tr>
      </tbody>
    </table>
  </div>

  <div class="column">
    <h3>Completed tasks</h3>
    <table class="completed-tasks">
      <tbody>
        <% if @completed_tasks.any? %>
          <% @completed_tasks.each do |task| %>
            <tr>
              <td class="task-item mark-as-complete">
                <%= task.description %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

<div>